* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

}
.grid__contenedor {
    background-color: #444;
    display: grid;
    grid-template-areas: 
    "header header header"
    "article article article"
    "article article article"
    "article article article"
    "article article article"
    "aside aside aside"
    "aside aside aside"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

.grid__item {
    padding: 20px;
}

.grid__item--header {
    background-color: #19a;
    grid-area: header;
    height: 85px;
    border: 10px solid #18a;
}

.mobilegrid__contenedor {
    display: none;
}

/* HEADER */

.flexheader {
    display: flex;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
    color: rgb(189, 189, 189);
}

.flexheader__item {
    padding: 10px 50px 10px 20px;
    position: relative;
}


.nav {
    font-size: 30px;
}

.flexnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40px;
    list-style: none;
    flex-wrap: wrap;
}

.flexnav__item {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 20px 50px;
}

.flexnav__item a:hover {
    color: rgb(255, 173, 51);
}

.header__a {
    text-decoration: none;
    color: #fff;
}

.header__icon {
    width: 20px;
    padding: 10px;
    text-align: right;
}


/* ARTICLE */

.grid__item--article {
    background: linear-gradient(to bottom, #18a, rgb(245, 61, 61));
    grid-area: article;
}


.flexindex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.flexindex__item {
    font-size: 20px;
    border: 4px solid rgb(255, 0, 0);
    flex-basis: 300px;
    height: 400px;
    background-color: orange;
    margin: 5px;
}

.flexindex__item img {
    width: 80px;
    position: relative;
    padding: 20px;
}

.index__h4 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    padding: 5px 20px;
    font-weight: 900;
    color: #000;
}

.index__h4--modifier {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    padding: 5px 20px 30px 20px;
    font-weight: 900;
    color: #000;
}

.index__p {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px;
}

/*ASIDE */

.grid__item--aside {
    grid-area: aside;
    background-color: rgb(245, 61, 61);
}

.indexflexaside {
    display: flex;
    border: 2px solid orange;
    background-color: #18a;
}  

.indexflexaside__item--img {
    position: relative;
    padding: 10px 20px;
    width: 140px;
    height: 80px;
}

.indexflexaside__item--h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 5px 50px 15px;
    text-align: left;
}

.indexflexaside__item--p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.indexflexaside__item--p b {
    font-size: 15px;
    color: #000;
}

/*FOOTER*/

.grid__item--footer {
    background-color: #000;
    grid-area: footer;
}

.flexfooter {
    display: flex;
    justify-content: space-around;
}

.flexfooter__item {
    font-size: 10px;
    color: #fff;
}

b {
    font-size: 15px;
}

.flexfooter__item--link {
    font-size: 15px;
}

.flexfooter__item--link:hover {
    color: rgb(255, 173, 51);
}

.footer__a {
    text-decoration: none;
    color: #fff;
}


@media screen and (max-width: 420px) {
    .grid__contenedor {
        display: none;
    }

    .mobilegrid__contenedor {
        display: grid;
        grid-template-areas: 
        "header header header"
        "article article article"
        "article article article"
        "article article article"
        "article article article"
        "aside aside aside"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
        height: 100vh;
    }

    /*HEADER MOBILE */

    .mobileitem__header {
        grid-area: header;
        background-color: rgb(250, 146, 76);
        height: 80px;
    }

    .mobileindex__item--titulo {
        font-size: 40px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        padding: 10px;
        color: #fff;
    }

    .mobileitem__nav {
        background-color: #9ad;
        height: 100px;
    }
    
    .flexnavmobile {
        display: flex;
        font-size: 25px;
        justify-content: space-between;
    }

    .flexnavmobile__item {
        list-style: none;
        padding: 15px 5px;
    }

    .mobileheader__a {
        text-decoration: none;
        color: #fff;
    }

    /*ARTICLE MOBILE*/


    .item__article {
        grid-area: article;
        background-color: rgb(250, 146, 76);
    }

    .flexindexmobile {
        border: 2px solid #333;
        display: flex;
        flex-wrap: wrap;
    }

    .flexindexmobile__item {
        border: 1px solid #333;
        width: 100%;
        height: 59px;
        margin: 2px;
    }

    .flexindexmobile__item img {   
        width: 40px;
        padding: 5px;
        position: relative;
        float: right;
    }

    .indexmobile__h4 {
        font-size: 15px;
        color: #000;
        text-align: center;
        padding: 5px;
    }

    .indexmobile__p {
        font-size: 10px;
        color: #fff;
        text-align: center;
        padding: 2px;
    }

    /*ASIDE MOBILE*/


    .item__aside {
        grid-area: aside;
        background-color: rgb(255, 174, 119);
    }

    .indexmobileasideflex {
        display: flex;
    }

    .indexmobileaside__item--img {
        position: relative;
        width: 120px;
        padding: 7px;
        float: right;
    }


    .indexmobileaside__item--p {
        font-size: 15px;
        text-align: center;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
    }

    
    /*FOOTER MOBILE*/

    .item__footer {
        grid-area: footer;
        background-color: #000;
    }

    .flexfootermobile {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .flexfootermobile__item--link {
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        padding: 15px;
        font-family: 'Raleway', sans-serif;
    }

    .flexfootermobile__item {
        list-style: none;
        font-size: 15px;
        color: #fff;
    }
}


/*PAGINA 2 TRABAJOS */

.flexgridtr {
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5px;
}

.flexgridtr__item {
    border: 4px #333 solid;
}

.flexgridtr__item:first-child {
    grid-column: 1 / 3;
    background-color: tomato;
    grid-row: 1 / 6;
}

.flexgridtr__item:first-child h3 {
    font-size: 30px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.flexgridtr__item:first-child p {
    font-size: 20px;
    padding: 15px;   
}

.flexgridtr__item:first-child img {
    padding: 40px 20px 10px 80px;
    width: 200px;
    position: relative;
    float: left;
}

.flexgridtr__item:nth-child(2) {
    background-color: turquoise;
    grid-column: 3 / 4;
    grid-row: 1 / 6;
}

.flexgridtr__item:nth-child(2) h3 {
    font-size: 20px;
    padding: 20px 50px 20px 30px;
    font-family: 'Raleway', sans-serif;
}

.flexgridtr__item:nth-child(2) p {
    font-size: 15px;
    padding: 30px;
}

.flexgridtr__item:nth-child(2) img {
    width: 170px;
    padding: 10px 20px 10px 30px;
}


/*ASIDE TRABAJOS*/

.asidegridtr {
    display: grid;
    border: 2px #333 solid;
    grid-template-columns: 1fr 1fr;
    margin: 3px 3px 10px 3px;
}

.asidegridtr__item {
    border: 2px #218 solid;
}

.asidegridtr__item:first-child {
    background-color: rgb(255, 112, 112);
    display: flex;
    justify-content: space-between;
}

.asidegridtr__item:first-child h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 900;
    padding: 25px;
    color: #fff;
}

.asidegridtr__item:first-child p {
    font-size: 15px;
    padding: 10px;
}

.asidegridtr__item:first-child p a {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.asidegrid__item:first-child img {
    align-content: flex-end;
    padding: 7px;
}

.asidegridtr__item:nth-child(2) {
    background-color: rgb(255, 112, 112);
    display: flex;
    justify-content: space-between;
}

.asidegridtr__item:nth-child(2) h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 900;
    padding: 25px;
    color: #fff;
}

.asidegridtr__item:nth-child(2) p {
    font-size: 15px;
    padding: 10px;
}

.asidegridtr__item:nth-child(2) p a {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.asidegridtr__item:nth-child(2) img {
    align-content: flex-end;
    padding: 7px;
}


@media screen and (max-width: 420px) {
    .gridtrabajos__contenedor {
        display: none;
    }

    .mobileflexgridtr {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #333;
    }

    .mobileflexgridtr__item {
        border: 1px solid #333;
        width: 100%;
        margin: 5px;
    }
    .mobileflexgridtr__item h3 {
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
        text-align: center;
    }

    .mobileflexgridtr__item p {
        font-size: 10px;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
    }

    .mobileflexgridtr__item img {
        position: relative;
        width: 120px;
        padding: 5px 30px;
    }

    .mobileflexgridtr__item img:last-child {
        position: relative;
        float: right;
    }

    .mobileasidegridtr {
        border: 1px solid #333;
        display: flex;
    }

    .mobileasidegridtr__item img {
        width: 140px;
        position: relative;
        float: right;
        padding: 7px;
    }

    .mobileasidegridtr__item h4 {
        font-size: 15px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
        color: #777;
    }

    .mobileasidegridtr__item p {
        font-size: 10px;
        text-align: left;
        padding: 2px 4px;
    }

    .mobileasidegridtr__item a {
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
    }
}


/*PAGINA 3 COMENTARIOS */

.articleCom {
    margin: 10px;
}

.gridarticlecom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 400px;    
}

.gridarticlecom__item {
    border: 2px rgb(83, 134, 235) solid;
}

.gridarticlecom__item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 260px;
}

.gridarticlecom__item:first-child img {
    height: 150px;
    padding: 10px 0 10px 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gridarticlecom__item:first-child h4 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #248;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 70px 70px 10px 10px;
}

.gridarticlecom__item:first-child p {
    font-size: 15px;
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.gridarticlecom__item:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 260px;
}

.gridarticlecom__item:nth-child(2) img {
    height: 150px;
    padding: 7px 0 5px 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gridarticlecom__item:nth-child(2) h4 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #248;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 70px 70px 10px 10px;
}

.gridarticlecom__item:nth-child(2) p {
    font-size: 15px;
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.gridarticlecom__item:nth-child(3) {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 300px 200px 1fr;
    grid-row: 1fr;
}

.gridarticlecom__item:nth-child(3) img {
    padding: 10px 5px 10px 60px;
    grid-column: 1 / 2;
}

.gridarticlecom__item:nth-child(3) h4 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #248;
    grid-column: 2 / 3;
    padding: 40px 10px 20px 0;
}

.gridarticlecom__item:nth-child(3) p {
    font-size: 15px;
    padding: 20px;
}

/*ASIDE COMENTARIOS*/

.asideCom {
    margin: 10px;
}

.formcom {
    display: flex;
    height: 300px;
    font-size: 50px;
    padding: 10px;
    flex-wrap: wrap;
}

.formcom__section {
    display: flex;
    padding: 10px 30px 10px 80px;
}

.formcom__section--legend{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #fff;
    width: 200px;
    padding: 10px 3px 10px 15px;
    display: flex;
}

.formcom__item {
    width: 260px;
    height: 30px;
}

.formcom__section--textarea {
    padding: 10px 300px 10px 300px;
}

.formcom__item--textarea {
    resize: none;
    height: 120px;
    width: 650px;
}

.formcom__section--button {
    padding: 10px 10px 10px 300px;
}

.formcom__item--button {
    width: 120px;
}


@media screen and (max-width: 420px) {
    .gridcomentarios__contenedor {
        display: none;
    }

    .articlecommobile {
        border: 1px solid #333;
        margin: 5px;
    }

    .gridarticlecommobile {
        display: flex;
        flex-wrap: wrap;
    }

    .gridarticlecommobile__item {
        border: 1px solid #333;
        margin: 5px;
    }

    .gridarticlecommobile__item img {
        position: relative;
        float: right;
        padding: 5px;
    }

    .gridarticlecommobile__item h4 {
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
    }

    .gridarticlecommobile__item p {
        font-size: 10px;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
    }

    .asidecommobile {
        border: 1px solid #333;
    }

    .formcommobile {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
    }


    .formcommobile__item--legend {
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        color: #000;
        padding: 7px;
    }

    .formcommobile__section {
        margin: 10px;
    }

    .formcommobile__item {
        width: 80px;
        height: 10px;
        font-size: 7px;
        padding: 2px;
    }

    .formcommobile__section--textarea {
        margin: 10px;
    }

    .formcommobile__item--textarea {
        width: 200px;
        height: 40px;
    }

    .formcommobile__section--button {
        width: 50px;
        margin: 10px;
    }

    .formcommobile__item--button {
        padding: 5px;
    }
}


/*PAGINA 3 PRESUPUESTOS*/

.articlePr {
    margin: 20px;
    height: 550px;
}

.gridarticlePr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
}

.gridarticlePr__section {
    border: 2px #333 solid;
    height: 540px;
}

.gridarticlePr__section:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.gridarticlePr__section:first-child h2 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.gridarticlePr__section:first-child p {
    font-size: 15px;
    padding: 10px;
}

.gridarticlePr__section:first-child img {
    width: 700px;
    padding-top: 30px;
}


.gridarticlePr__section:nth-child(2) {
    grid-column: 2 / 5;
    grid-row: 1 / 5;
}

#legend__presupuestos {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #248;
    padding: 10px;
    text-align: center;
}

.flexformPr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formPr__section {
    padding: 17px 10px 0px 10px;
}

.formPr__item {
    width: 250px;
    height: 20px;
    font-size: 13px;
}

.formPr__item--textarea {
    padding: 10px;
    width: 500px;
    height: 200px;
    font-size: 20px;
    resize: none;
}

.formPr__section--button {
    font-size: 20px;
    padding: 20px;
    width: 100px;
    height: 80px;
}

.formPr__item--p {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


@media screen and (max-width: 420px) {
    .gridpresupuestos__contenedor {
        display: none;
    }

    .flexarticlePrmobile {
        border: 1px solid #333;
        display: flex;
        flex-direction: column;
    }

    .formPrmobile__section {
        margin: 5px;
    }

    .formPrmobile__section--button {
        margin: 5px;
    }

    #legendmobile__presupuestos {
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        padding: 5px;
        text-align: center;
        color: #fff;
        text-decoration: underline;
    }

    .formPrmobile__item {
        width: 200px;
        height: 20px;
        padding: 5px;
        font-size: 12px;
    }

    .formPrmobile__item--textarea {
        width: 315px;
        height: 80px;
        font-size: 15px;
        padding: 5px;
        resize: none;
    }

    .formPrmobile__item--button {
        font-size: 10px;
        padding: 5px;
    }

    .mobileasidePr__section {
        border: 1px solid #333;
        display: flex;
        margin: 5px;
    }

    .mobileasidePr__item--img {
        width: 150px;
        position: relative;
        float: right;
        padding: 5px;
    }

    .mobileasidePr__item--h2 {
        font-size: 10px;
        padding: 20px 5px;
    }

    .mobileasidePr__item--p {
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        padding: 20px 2px;
        text-align: center;
    }

}

/*PAGINA 5 CONTACTO */

.articleContact {
    margin: 20px;
}

.articlecontact {
    width: 1400px;
    height: 250px;
}

.articlecontact h2 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 10px;
}

.articlecontact p {
    font-size: 20px;
    padding: 10px;
}

.articlecontact h6 {
    padding: 10px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #fff;
}

.articlecontact h6 a {
    font-size: 15px;
    padding: 3px;
    font-family: 'Raleway', sans-serif;
    color:rgb(255, 19, 19);
}

.articlecontact h6 a:focus {
    color: rgb(5, 230, 173);
}

.articlecontactimg {
    margin: 10px 50px 30px 200px;
    border: 2px #248 solid;
    width: 900px;
}

.articlecontactimg h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 5px;
}

.articlecontactimg h4 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 5px;
}

.articlecontactimg h6 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 10px;
}

@media screen and (max-width: 420px) {
    .gridcontacto__contenedor {
        display: none;
    }

    .articleContactmobile {
        border: 1px solid #333;
        margin: 5px;
    }

    .articlecontactmobile__item {
        border: 1px solid #333;
        display: flex;
        flex-direction: column;
    }

    .articlecontactmobile__item img {
        width: 250px;
        position: relative;
        padding: 10px 60px;
    }

    .articlecontactmobile__item h4 {
        font-size: 15px;
        text-align: center;
        padding: 2px;
    }

    .articlecontactmobile__item h4 a {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }

    .articlecontactmobile__item h6 {
        font-size: 10px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        padding: 5px;
    }

    .asidecontactmobile__section {
        display: flex;
        flex-direction: column;
    }

    .asidecontactmobile__item--h2 {
        font-size: 15px;
        color: #000;
        text-align: center;
        padding: 5px;
    }

    .asidecontactmobile__item--p {
        font-size: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        text-align: center;
        padding: 5px;
    }